# Environnement virtuel
p7_env/
venv/
.env

# Fichiers compilés Python
__pycache__/
*.pyc

# Gros fichiers de données (Kaggle)
data/*.csv
!data/sample_test.csv  # On garde juste le petit échantillon pour le test

# Notebook checkpoints
.ipynb_checkpoints/

# Fichiers système
.DS_Store
