# dossier MLflow
mlruns/
notebooks/mlruns/

# fichiers temporaires Python
__pycache__/
*.pyc

# sauvegardes automatiques de Notebooks
.ipynb_checkpoints/


*- Copie.ipynb
*.bak
*.tmp


p7_env/
env/
venv/


#  tous les CSV du dossier data/
data/*.csv

!data/sample_test.csv